* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: hsla(332, 81%, 48%, 0.663);
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(255, 220, 225);
     }

  

  /* styles to <header> */

  header {
    
    display: flex;
    padding: 20px 35px 20px;
    background-color: #c0e5f0;
    background-position: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header p {
    font-weight: bold;
    font-size: 36px;
    color: #217e8a;
    margin: 0;
    display: inline;
  }

  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


header nav ul li a {
  padding: 10px 15px;
  font-weight: 200;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(6, 6, 221, 0.5);
}

header nav ul li a:hover {
  border-radius: 16px;
  text-shadow:rgb(130, 124, 221);
  color: rgb(223, 30, 62); font-style: italic
}
/* footer Starts here */

footer {
  padding: 28px 32px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--primary-color);
  width: 100%;
 
  
}

footer h2 {
  display: inline;
  color: hsla(332, 81%, 48%, 0.663);
  font-size: 30px;
  margin: 0;
  font-size: 30px;

}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #217e8a;
  width: 100%;
}

/* END FOOTER STYLES */


section {

  
}

/* HERO STYLES START */
.hero {
  background-image: url('/Users/mamona/Desktop/projects/aboutme-ch2/makeup-cosmetics.jpg');
  background-position: 80%;
  background-attachment: fixed;
  background-size:cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #e6004c;
  font-size: 18px;
  line-height: 1.3;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.hero-form {
  border: 3px solid var(--secondary-color);
  background-color: var(--primary-color-transparent);
  padding: 20px;
  width: 40%;
  margin: 3.5%;
  color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px; 
  border-radius: 10px;
}

.form-input {
  background-color: rgba(223, 250, 255, 0.9);
}

.form-input:focus {
  background-color: rgb(19, 212, 202);
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.intro {
  display:flex;
}


.checkbox-wrapper input[type="checkbox"], 
.radio-wrapper input[type="radio"] {
  opacity: 0;
}

.checkbox-wrapper label::before,
.radio-wrapper label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid var(--secondary-color);  
    position: absolute;
    top: -4px;
    left: -30px;
    background: rgba(255,255,255,0.75);  
}

.checkbox-wrapper label::after {
    content: "";
    display: inline-block;    
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    transform: rotate(-58deg);
    position:absolute;
    left: -26px;
    top: 1px;
}

.checkbox-wrapper label, .radio-wrapper label  {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  position:absolute;
  left: -29px;
  top: -3px;
  border-radius: 50%;
  background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}

/*Hide checked state */
.checkbox-wrapper input[type="checkbox"] + label::after, 
.radio-wrapper input[type="radio"] + label::after {
    content: none;
}

/* show the checked state*/
.checkbox-wrapper input[type="checkbox"]:checked + label::after, 
.radio-wrapper input[type="radio"]:checked + label::after {
    content: "";
}
/* HERO STYLES END */


/* work start */
.About-Me {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right:10px solid rgb(162, 179, 233);
  columns: 3;
}

.flex-row {
  margin: 10px;
  padding-right: 15px;
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-self: right;
  border-right:5px solid rgb(162, 179, 233);
  columns: 3;
}

.life {
  margin: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-self: right;
  
}
.innaya {
  margin: 10px;
  padding-bottom: 10px;
  width: 65%;
  flex-wrap: wrap;
  align-items: right;
  justify-self: right;
}
.run {
  background-image: url("/Users/mamona/Desktop/projects/aboutme-ch2/run2.jpg");
  background-position: center;
  display: block;
  margin: 4px;
  width: 100%;
  padding-top: 200px;
  border: 5px solid #ff81ab;
}
.zm {
  margin: 10px;
  padding-bottom: 10px;
  width: 90%;
  flex-wrap: wrap;
  align-items: right;
  justify-self: right;
}

.pet {
  background-image: url("../aboutme-ch2/pet.jpg");
  background-position: center;
  display: block;
  margin: 4px;
  width: 100%;
  padding-top: 200px;
  border: 5px solid #ff81ab;;
}

.hari {
  background-image: url("/Users/mamona/Desktop/projects/Horisean1/assets/images/horisean.ico");
  background-position: center;
  display: block;
  margin: 4px;
  width: 100%;
  padding-top: 200px;
  border: 5px solid #ff81ab;;
}


#intro {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
}

.life p{
  margin: 10px;
  padding-bottom: 10px;
  width: 65%;
  flex-wrap: wrap;
  justify-self: right;

}

.work, .About-me {
  align-items: right;
  margin: 20px;
  flex: 1;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.work img {
  width: 50%;
}

/* Work end */




#Contact h2{
  
  margin: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 13%;
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-self: right;
  border-right:5px solid rgb(162, 179, 233);
  columns: 3;

}